.Filter {
  &__Type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0px;
    &__List {
      display: grid;
      grid-template-columns: 1fr 1fr;
      label {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 1.13rem;
      }
    }
  }

  &__Color {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0px;

    &__List {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      padding: 10px;
      justify-items: center;

      div {
        display: flex;
        position: relative;
        border: 2px solid #e6e6e6;
        box-shadow: 1px 1px 1px #e6e6e6;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        background-color: var(--color);

        input {
          position: absolute;
          opacity: 0;
          width: 25px;
          height: 25px;
          &:checked {
            opacity: 1;
            width: 15px;
            height: 15px;
          }
        }

        &:hover {
          cursor: pointer;
          transform: rotate(360deg);
          transition: 0.8s;
        }
      }
    }
  }

  &__Gender {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0px;
    &__List {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.2rem;
      label {
        padding: 0.2rem;
        display: flex;
        align-items: center;
        gap: 5px;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  }
}
