* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ebebeb;
}

@import "./pages/pages.scss";
@import "./components/components.scss";

//portatil-peq
@media only screen and (max-width: 1024px) {
  [class="Layout"] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }
}

//tablet
@media only screen and (max-width: 768px) {
  [class="Layout"] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 1%;
  }
  [class="Main"] {
    grid-template-columns: 200px repeat(7, 1fr);
  }
  [class="Modal__Info"] {
    flex-wrap: wrap;
    padding: 0;
  }
  [class="Modal__Container"] {
    flex-wrap: wrap;
    margin: 10% auto;
  }
  [class="big__img"] {
    width: auto;
    height: 200px;
  }
}

//mobile
@media only screen and (max-width: 425px) {
  [class="Layout"] {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }

  [class="Modal__Container"] {
    margin: 2% auto;
  }

  [class="Main"] {
    grid-template-columns: repeat(4, 1fr);
  }
  [class="Sidebar"] {
    display: none;
  }
  [class="Content"] {
    grid-column-start: 1;
  }
  [class="MobileMenu"] {
    display: block;
  }
}
