* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebebeb;
}

.Main {
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: 300px repeat(11, 1fr);
}

.Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.Modal__Container {
  box-sizing: content-box;
  width: 80%;
  margin: 5% auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Modal__Container button {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #5e181865;
  color: #fff;
}
.Modal__Container button:hover {
  background-color: #9b091fd7;
}
.Modal__Container button::before {
  content: "X";
}
.Modal__Info {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Info__Frame {
  display: flex;
  flex: 2;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  justify-content: center;
}
.Info__Frame img {
  max-width: 450px;
  min-width: 100px;
}
.Info__Item {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.2rem;
  justify-content: center;
  background-color: #f8f8f8;
}
.Info__Item p {
  font-size: 1.2rem;
  text-align: left;
}
.Info__Table {
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px #272727;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}
.Info__Table tr:nth-child(even) {
  background-color: #e1dfdf;
}
.Info__Title {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.Info__Title h2 {
  border: #5e181865 solid 2px;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.Info__Tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Info__Tags span {
  display: flex;
  color: #fff;
  float: left;
  text-align: center;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #353535;
  align-items: center;
  justify-content: center;
}

.Modal__Evolution {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.Modal__Evolution h1 {
  margin-left: 3rem;
}

.Evolution__List {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Evolution__Item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Item__Container {
  display: flex;
  align-items: center;
}
.Item__Container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.Item__Container::after {
  content: " ";
  position: relative;
  display: block;
  z-index: 300;
  font-size: xx-large;
  color: black;
}

.MobileMenu {
  display: none;
  position: absolute;
  background-color: #f44336;
  width: 10%;
  color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  transition: 0.3s;
  box-shadow: #b3b1b1 2px 3px 2px;
  margin: 0.2rem 0.2rem;
}

.ModalMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.ModalMenu__Filter {
  box-sizing: content-box;
  width: 80%;
  margin: 5% auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ModalMenu button {
  position: absolute;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #5e181865;
  color: #fff;
  z-index: 300;
}
.ModalMenu button:hover {
  background-color: #9b091fd7;
  cursor: pointer;
}
.ModalMenu button::before {
  content: "X";
}

.Layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 5%;
  z-index: 1;
}

.Header {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  gap: 15px;
  flex-direction: row;
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  border-bottom: solid 1px #c00505;
  box-shadow: #f7b506 0px 2px 1px;
}
.Header__inputs {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 5px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Header img {
  width: 20%;
  height: auto;
}
.Header input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e6e6e6;
  position: relative;
  left: 0;
  transition: 0.3s;
  box-shadow: #d4d4d4 2px 3px 1px;
}
.Header input:hover {
  width: 90%;
  transition: 0.3s;
}
.Header button {
  background-color: #f44336;
  width: 200px;
  color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: #b3b1b1 2px 3px 2px;
}
.Header button:hover {
  background-color: #f83022;
  transition: 0.3s;
}

.Content {
  grid-column-start: 2;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.Content button {
  background-color: #f44336;
  width: 30%;
  color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  transition: 0.3s;
  box-shadow: #b3b1b1 2px 3px 2px;
  margin: 1rem 0;
}
.Content button:hover {
  background-color: #f83022;
  transition: 0.3s;
}
.Content__Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.Filter__Type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0px;
}
.Filter__Type__List {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Filter__Type__List label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.13rem;
}
.Filter__Color {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0px;
}
.Filter__Color__List {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  justify-items: center;
}
.Filter__Color__List div {
  display: flex;
  position: relative;
  border: 2px solid #e6e6e6;
  box-shadow: 1px 1px 1px #e6e6e6;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--color);
}
.Filter__Color__List div input {
  position: absolute;
  opacity: 0;
  width: 25px;
  height: 25px;
}
.Filter__Color__List div input:checked {
  opacity: 1;
  width: 15px;
  height: 15px;
}
.Filter__Color__List div:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 0.8s;
}
.Filter__Gender {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0px;
}
.Filter__Gender__List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.Filter__Gender__List label {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.Card__Item {
  background-color: #fafafa;
  padding: 1rem;
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #d4d4d4 2px 3px 1px;
  border-radius: 0.8rem;
}
.Card__Item:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #eecccc;
}

@media only screen and (max-width: 1024px) {
  [class=Layout] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 3%;
  }
}
@media only screen and (max-width: 768px) {
  [class=Layout] {
    grid-template-columns: repeat(8, 1fr);
    margin: 0 1%;
  }

  [class=Main] {
    grid-template-columns: 200px repeat(7, 1fr);
  }

  [class=Modal__Info] {
    flex-wrap: wrap;
    padding: 0;
  }

  [class=Modal__Container] {
    flex-wrap: wrap;
    margin: 10% auto;
  }

  [class=big__img] {
    width: auto;
    height: 200px;
  }
}
@media only screen and (max-width: 425px) {
  [class=Layout] {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }

  [class=Modal__Container] {
    margin: 2% auto;
  }

  [class=Main] {
    grid-template-columns: repeat(4, 1fr);
  }

  [class=Sidebar] {
    display: none;
  }

  [class=Content] {
    grid-column-start: 1;
  }

  [class=MobileMenu] {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
