.Header {
  //as child of Main
  grid-column-start: 1;
  grid-column-end: 13;

  display: flex;
  gap: 15px;
  flex-direction: row;
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  border-bottom: solid 1px #c00505;
  box-shadow: #f7b506 0px 2px 1px;

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 5px;
    flex-wrap: wrap;

    align-items: flex-start;
  }

  img {
    width: 20%;
    height: auto;
  }

  input {
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e6e6e6;
    position: relative;
    left: 0;
    transition: 0.3s;
    box-shadow: #d4d4d4 2px 3px 1px;

    &:hover {
      width: 90%;
      transition: 0.3s;
    }
  }

  button {
    background-color: #f44336;
    width: 200px;
    color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    transition: 0.3s;
    box-shadow: #b3b1b1 2px 3px 2px;

    &:hover {
      background-color: #f83022;
      transition: 0.3s;
    }
  }
}
