.Header {
  //as child of Main
  grid-column-start: 1;
  grid-column-end: 13;

  display: flex;
  gap: 15px;
  flex-direction: row;
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  border-bottom: solid 1px #c00505;
  box-shadow: #f7b506 0px 2px 1px;

  img {
    width: 20%;
    height: auto;
  }

  input {
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e6e6e6;
    position: relative;
    left: 0;
    transition: 0.3s;
    box-shadow: #d4d4d4 2px 3px 1px;

    &:hover {
      width: 90%;
      transition: 0.3s;
    }
  }
}
