.Main {
  //as children of Layout
  grid-column-start: 1;
  grid-column-end: 13;

  //as father
  display: grid;
  grid-template-areas:
    "Header Header Header Header"
    "Sidebar Content Content Content"
    "Sidebar Content Content Content";
}
